<!-- app/views/portal/_filament_color.html.erb -->
<div class="card mb-4">
  <div class="card-header"><h4 class="mb-0">Filament Color</h4></div>
  <div class="card-body">
    <%= label_tag 'job[filament_color]', 'Choose a Color', class: 'form-label' %>
    <%= select_tag 'job[filament_color]',
          options_from_collection_for_select(FilamentColor.all.order(:position), :code, :name, params.dig(:job, :filament_color)),
          include_blank: 'Select color',
          id: 'job_filament_color',
          class: 'form-select',
          required: true %>
  </div>
</div>
