<div class="card mb-4">
  <div class="card-header">
    <h4 class="mb-0">Photo of the Object</h4>
  </div>
  <div class="card-body">
    <%= label_tag 'job[scan_image]', 'Upload Photo', class: 'form-label' %>
    <%= file_field_tag 'job[scan_image]',
                        accept: 'image/*',
                        id: 'job_scan_image',
                        class: 'form-control' %>
    <div class="form-text">
      Upload a high-res photo of your object (include a ruler or common item for scale).
    </div>
  </div>
</div>
