<!-- app/views/portal/_submit_button.html.erb -->
<div class="text-end">
  <%= submit_tag submit_label, class: 'btn btn-primary btn-lg' %>
</div>
<p class="form-text text-muted mt-4"><%= submit_help %></p>
