<%= render 'shared/header' %>

<div class="content">
  <h1>Check Your Inbox</h1>
  <p>We’ve sent you an email with a secure link to view your 3D print jobs. Please check your inbox (and spam folder).</p>
</div>
